/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
    @apply font-montserrat text-primary;
    cursor: none;

}

#cursor,
#cursor-follower {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

#cursor {
    width: 10px;
    height: 10px;
    background-color: black;
}

#cursor-follower {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    transition: transform 0.2s ease, border 0.2s ease;
}

a,
button,
input,
textarea,
.photo-carousel-button,
.map-container,
.map-iframe,
.google-reviews-container,
.google-reviews-content,
.cookie-banner .btn {
    cursor: none;
}

a:hover~#cursor-follower,
button:hover~#cursor-follower,
input:hover~#cursor-follower,
textarea:hover~#cursor-follower,
.photo-carousel-button:hover~#cursor-follower,
.map-container:hover~#cursor-follower,
.map-iframe:hover~#cursor-follower,
.google-reviews-container:hover~#cursor-follower,
.google-reviews-content:hover~#cursor-follower,
.cookie-banner .btn:hover~#cursor-follower {
        transform: scale(1.5);
}

/* Styles Planity */
:root {
    --primaryColor: #F4D7CF;
}

.planity_appointment_service_button,
.planity_ui_action_button_root,
.planity_ui_action_button_icon-remove,
.planity_ui_button_root,
.planity_ui_showMoreservices,
.react-add-to-calendar__icon-window.planity.primaryColors,
.planity_ui_action_cancel-appointment-window.planity.primaryColors,
.planity_ui_action_edit-password
{
    color: var(--primaryColor) !important;
}

.planity_ui_button_root {
    background-color: var(--primaryColor) !important;
    color: #000 !important; /* Couleur de texte souhaitée */
}

.planity_appointment_service_button {
    background-color: var(--primaryColor) !important;
    color: #000 !important; /* Couleur de texte souhaitée */
}
.planity_ui_action_edit-password {
    background-color: var(--primaryColor) !important;
    color: #000 !important; /* Couleur de texte souhaitée */
}

.planity_appointment_steps_step {
    background-color: var(--primaryColor) !important;
    color: #000 !important; /* Couleur de texte souhaitée */
}

