---
import BaseLayout from '../layouts/BaseLayout.astro';
import NewsTicker from '../components/NewsTicker.jsx';
import Header from '../components/Header.jsx';
import ContactForm from '../components/ContactForm.jsx';
import Footer from '../components/Footer.jsx';
---

<BaseLayout>
    <NewsTicker client:load />
    <Header client:load />
    <main class="space-y-8 px-4">
    <ContactForm client:load />
    </main>
    <Footer /> 
</BaseLayout>
