---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.jsx';
import NewsTicker from '../components/NewsTicker.jsx';
import Footer from '../components/Footer.jsx';
---

<BaseLayout>
  <NewsTicker />
  <Header client:load />
  <main class="p-4 text-black">
    <div id="dashboard" class="space-y-6">
      <h2 class="text-2xl font-bold text-center text-gray-800">Mon tableau de bord</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div id="accountContainer" class="p-4 bg-white rounded-lg shadow-md">Compte</div>
        <div id="appointmentContainer" class="p-4 bg-white rounded-lg shadow-md" style="display: none;">Prendre RDV</div>
        <div id="giftVoucherContainer" class="p-4 bg-white rounded-lg shadow-md" style="display: none;">Cartes Cadeaux</div>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          const accountContainer = document.getElementById('accountContainer');
          const appointmentContainer = document.getElementById('appointmentContainer');
          const giftVoucherContainer = document.getElementById('giftVoucherContainer');

          if (accountContainer && appointmentContainer && giftVoucherContainer) {
            window.planity = {
              key: '-Ndenpt2NBzQXjUpPT0x',
              primaryColor: '#yourPrimaryColor',
              accountContainer: accountContainer,
              appointmentContainer: appointmentContainer,
              giftVoucherContainer: giftVoucherContainer,
              options: {
                afterLogin: () => {
                  console.log('Utilisateur authentifié');
                  appointmentContainer.style.display = 'block';
                  giftVoucherContainer.style.display = 'block';
                }
              }
            };

            const polyfillScript = document.createElement('script');
            polyfillScript.src = '/js/polyfills.latest.js';
            polyfillScript.async = true;
            document.body.appendChild(polyfillScript);

            const appScript = document.createElement('script');
            appScript.src = '/js/app.latest.js';
            appScript.async = true;
            document.body.appendChild(appScript);
          }
        });
      </script>
    </div>
  </main>
  <Footer />
</BaseLayout>
