---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.jsx';
import NewsTicker from '../components/NewsTicker.jsx';
import Footer from '../components/Footer.jsx';
---

<BaseLayout>
  <NewsTicker />
  <Header client:load />
  <main class="p-4 text-black">
    <div id="dashboard" class="space-y-6">
      <h2 class="text-2xl font-bold text-center text-gray-800">Mon Compte</h2>
      <div id="accountContainer" class="p-4 bg-white rounded-lg shadow-md mx-auto max-w-xl mb-6">
        <!-- Compte Module -->
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div id="appointmentContainer" class="p-4 bg-white rounded-lg shadow-md">Prendre RDV</div>
        <div id="giftVoucherContainer" class="p-4 bg-white rounded-lg shadow-md">Cartes Cadeaux</div>
      </div>
      <script is:inline>
        document.addEventListener("DOMContentLoaded", function() {
          const accountContainer = document.getElementById('accountContainer');
          const appointmentContainer = document.getElementById('appointmentContainer');
          const giftVoucherContainer = document.getElementById('giftVoucherContainer');

          window.planity = {
            key: '-Ndenpt2NBzQXjUpPT0x',
            primaryColor: '#F4D7CF',
            css: '../styles/global.css',
            accountContainer: accountContainer,
            appointmentContainer: appointmentContainer,
            giftVoucherContainer: giftVoucherContainer,
          };

          const polyfillScript = document.createElement('script');
          polyfillScript.src = 'https://d2skjte8udjqxw.cloudfront.net/widget/production/2/polyfills.latest.js';
          polyfillScript.async = true;
          document.body.appendChild(polyfillScript);

          const appScript = document.createElement('script');
          appScript.src = 'https://d2skjte8udjqxw.cloudfront.net/widget/production/2/app.latest.js';
          appScript.async = true;
          document.body.appendChild(appScript);
        });
      </script>
    </div>
  </main>
  <Footer />
</BaseLayout>

