---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.jsx';
import NewsTicker from '../components/NewsTicker.jsx';
import Footer from '../components/Footer.jsx';
import Connect from '../components/Connect.jsx';
---

<BaseLayout>
  <NewsTicker />
  <Header client:load />
  <main class="p-4 text-black">
    <Connect client:load />
  </main>
  <Footer />
</BaseLayout>
