---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.jsx";
import NewsTicker from "../components/NewsTicker.jsx";
import Footer from "../components/Footer.jsx";
---

<BaseLayout>
    <NewsTicker />
    <Header client:load />
    <main class="p-4 text-black relative">
    <div class="background-image"></div>
    <div
        class="relative z-10 bg-white bg-opacity-90 p-8 rounded-lg shadow-lg max-w-4xl mx-auto retro-frame"
    >
        <h1 class="tracking-wider text-2xl  mb-6 text-center">L'HISTOIRE D'ESTELLE</h1>
        <div class="flex flex-col items-center">
        <img
            src="/img/estelle.webp"
            alt="Estelle"
            class="w-48 h-48 rounded-full mb-4 object-cover retro-photo"
        />
        <p class="text-lg mb-4">
            Estelle Chiocchio, passionnée d'esthétique dès son plus jeune âge, a
            intégré la prestigieuse école Peyrefitte en 2011 à l'âge de 16 ans.
            Elle y obtient son CAP puis son Bac Professionnel esthétique, réalisant ainsi son
            rêve d'enfant. À la sortie de l'école, Estelle découvre sa passion
            pour le maquillage et aspire à devenir maquilleuse professionnelle.
            Cependant, ce rêve exige de quitter sa région natale pour s'installer
            à Paris.
        </p>
        <p class="text-lg mb-4">
            Estelle commence sa carrière chez Sephora à Annecy, où elle signe son
            premier CDI. En 2017, elle décide de suivre son conjoint au Portugal,
            d'abord à Lisbonne puis à Guimarães, où elle trouve un emploi dans un
            institut d'esthétique. C'est à Chaves qu'elle débute dans
            l'entrepreneuriat en ouvrant son premier institut, déjà nommé "Mon
            Comptoir Secret".
        </p>
        <p class="text-lg mb-4">
            En 2020, Estelle revient en France et travaille dans un institut de
            village à Mouxy. En 2023, elle décide de relancer "Mon Comptoir
            Secret", créant un véritable cocon pour ses clientes, un lieu où
            beauté et bien-être se rencontrent dans une ambiance chaleureuse et
            accueillante.
        </p>
        </div>
    </div>
    <style>
        .background-image {
        background-image: url("/img/institut.webp");
        background-size: cover;
        background-position: center;
        filter: grayscale(100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        }
        .bg-opacity-90 {
        background-color: rgba(255, 255, 255, 0.9);
        }
        .retro-frame {
        border: 10px solid #d0afa8;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 1;
        }
        .retro-photo {
        border: 5px solid #f4d7cf;
        padding: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }
        .retro-frame h1 {
        font-family: "ITC Caslon No 224", serif;
        color: #333;
        }
        .retro-frame p {
        font-family: "Avenir Next", sans-serif;
        color: #555;
        }
    </style>
    </main>
    <Footer />
</BaseLayout>
