---
import Header from "../components/Header.astro";
import NewsTicker from "../components/NewsTicker.astro";
---

<NewsTicker />
<Header />
<main>
	<section>
    <!-- Informations sur l'institut -->
	</section>
	<section>
    <!-- Nouveautés -->
	</section>
	<section>
    <!-- Histoire de Estelle -->
	</section>
	<section>
    <!-- Carrousel de photos -->
	</section>
	<section>
    <!-- Avis Google -->
	</section>
	<section>
    <!-- Google Maps -->
	</section>
</main>
<footer>
	<!-- Mentions légales -->
</footer>
