---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.jsx';
import NewsTicker from '../components/NewsTicker.jsx';
import Nouveautes from '../components/Nouveautes.jsx';
import HistoireEstelle from '../components/HistoireEstelle.jsx';
import PhotoCarousel from '../components/PhotoCarousel.jsx';
import GoogleReviews from '../components/GoogleReviews.jsx';
import Footer from '../components/Footer.jsx';

---

<BaseLayout>
	<NewsTicker />
	<Header client:load />
	<main class="space-y-8">
		<section>
			<Nouveautes client:load />
		</section>
		<section>
			<HistoireEstelle client:load />
		</section>
		<section>
			<PhotoCarousel client:load />
		</section>
		<section>
			<GoogleReviews />
		</section>
		<!-- <section>
			<GoogleMap lat={mapCoordinates.lat} lng={mapCoordinates.lng} apiKey={googleApiKey} />
		</section>-->
	</main>
	<Footer /> 
</BaseLayout>