---
import Header from '../components/Header.jsx';
import NewsTicker from '../components/NewsTicker.jsx';
---
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Mon Comptoir Secret"
		/>
		<meta name="robots" content="index, follow" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://mon-comptoir-secret.vercel.app/" />
		<meta property="og:site_name" content="Mon Comptoir Secret" />
		<meta property="og:title" content="Mon Comptoir Secret" />
	
		<script
			is:inline
			src="https://kit.fontawesome.com/2898a0ac51.js"
			crossorigin="anonymous"></script>
		<title>Mon Comptoir Secret</title>
	</head>

<NewsTicker />
<Header />
<main>
	<section>
    <!-- Informations sur l'institut -->
	</section>
	<section>
    <!-- Nouveautés -->
	</section>
	<section>
    <!-- Histoire de Estelle -->
	</section>
	<section>
    <!-- Carrousel de photos -->
	</section>
	<section>
    <!-- Avis Google -->
	</section>
	<section>
    <!-- Google Maps -->
	</section>
</main>
<footer>
	<!-- Mentions légales -->
</footer>
