---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.jsx';
import NewsTicker from '../components/NewsTicker.jsx';
// import PhotoCarousel from '../components/PhotoCarousel.jsx';
import GoogleReviews from '../components/GoogleReviews.jsx';
import Footer from '../components/Footer.jsx';

---

<BaseLayout>
	<NewsTicker />
	<Header />
	<main>
		<section>
			<h2>Nouveautés</h2>
			<!-- Nouveautés -->
		</section>
		<section>
			<h2>Histoire de Estelle</h2>
			<!-- Début de l'histoire de Estelle -->
		</section>
		<!--<section>
			<PhotoCarousel />
		</section>-->
		<section>
			<GoogleReviews />
		</section>
		<!-- <section>
			<GoogleMap lat={mapCoordinates.lat} lng={mapCoordinates.lng} apiKey={googleApiKey} />
		</section>-->
	</main>
	<Footer /> 
</BaseLayout>