---
import BaseLayout from "../layouts/BaseLayout.astro";
import NewsTicker from '../components/NewsTicker.jsx';
import CouponButton from '../components/CouponButton.jsx';
import Header from '../components/Header.jsx';
import Footer from '../components/Footer.jsx';
---

<BaseLayout>
  <NewsTicker client:load />
  <Header client:load />
  <main class="p-8 cursor-none text-black bg-grey">
    <h1 class="tracking-wider text-3xl mb-6 text-center text-black">OFFRE SPÉCIALE - AISSELLES OFFERTES !</h1>
    <p class="text-lg text-center mb-4">
      À l'achat d'un forfait épilation valable dans les conditions*, 
      bénéficiez d'une épilation des aisselles offerte ! 🎁
    </p>

    <section class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-lg text-center">
      <h2 class="text-2xl font-semibold mb-4">OBTENEZ VOTRE COUPON EN UN CLIC !</h2>
      <p class="text-sm text-gray-600 mb-6">
        *Conditions : Offre valable uniquement pour les forfaits suivants : <i>Forfait maillot intégral, forfait jambes complètes et forfait demi-jambes ou cuisse.</i>
      </p>
      <p class="text-sm text-gray-600 mb-6">
        <strong>Copiez-collez votre code dans <i>"Informations complémentaires"</i> après avoir sélectionner le jour et l'heure du rendez-vous.</strong>
      </p>

      <CouponButton client:load />

      <p class="text-xs text-gray-500 mt-8">
        Offre valable jusqu'au 30 Septembre 2024 inclus. Non cumulable avec d'autres promotions. Coupon utilisable une seule fois.
      </p>
    </section>
  </main>
  <Footer />
</BaseLayout>
