---
import '../styles/global.css';
import CookieBanner from '../components/Cookie.jsx';
import Popup from '../components/PopUp.jsx';
import BackToTop from '../components/BackToTop.jsx';
---

<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link 
	rel="icon" 
	type="image/png" 
	href="/img/logomcs1.webp" />
    <meta 
	name="viewport" 
	content="width=device-width" />
    <meta 
	name="generator" 
	content={Astro.generator} />
    <meta 
	name="description" 
	content="Mon Comptoir Secret, institut de beauté à la pointe de l'innovation avec des soins comme l'épilation définitive et le photorajeunissement. Prenez rendez-vous pour un bilan offert." />
    <meta 
	name="robots" 
	content="index, follow" />
    <meta 
	property="og:type" 
	content="website" />
    <meta 
	property="og:url" 
	content="https://moncomptoirsecret.com" />
	<meta 
	property="og:title" 
	content="Mon Comptoir Secret - Institut de Beauté" />
	<meta 
	property="og:description" 
	content="Bienvenue à Mon Comptoir Secret, votre institut de beauté incontournable, dédié à des soins esthétiques personnalisés. Découvrez nos prestations innovantes en épilation définitive, onglerie, maquillage professionnel, et bien plus encore. Visitez notre site web pour en savoir plus sur nos offres exclusives et notre expertise en esthétique." />
	<meta 
	property="og:image" 
	content="https://moncomptoirsecret.com/img/logomcs.webp" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
    <meta 
	property="og:site_name" 
	content="Mon Comptoir Secret" />
    
	

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@moncomptoirsecret" />
	<meta name="twitter:title" content="Mon Comptoir Secret - Institut de Beauté" />
	<meta name="twitter:description" content="Épilation définitive et photorajeunissement disponibles dans notre institut. Prenez rendez-vous dès maintenant pour un bilan offert !" />
	<meta name="twitter:image" content="https://moncomptoirsecret.com/img/logomcs1.webp" />
	<meta name="twitter:image:alt" content="Logo de Mon Comptoir Secret" />

    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="X-XSS-Protection" content="1; mode=block">

	<script type="application/ld+json">
		{
		"@context": "https://schema.org",
		"@type": "LocalBusiness",
		"name": "Mon Comptoir Secret",
		"image": "https://moncomptoirsecret.com/img/logomcs.webp",
		"description": "Institut de beauté offrant des soins esthétiques, épilation définitive et photorajeunissement.",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "4 Chemin en Calloud",
			"addressLocality": "Aix-les-Bains",
			"addressRegion": "Savoie",
			"postalCode": "73100"
			},
		"telephone": "+33 6 17 34 49 99",
		"openingHours": "Mo,Tu,We,Th,Fr 09:00-18:00",
		"sameAs": [
			"https://www.instagram.com/moncomptoirsecret",
			"https://www.facebook.com/moncomptoirsecret"
		]
		}
		</script>
	
    <script 
	is:inline 
	src="https://kit.fontawesome.com/2898a0ac51.js" 
	crossorigin="anonymous"></script>
    <title>Mon Comptoir Secret</title>
    <link 
	rel="stylesheet" 
	href="/scripts/cursor.js">
    <script 
	defer src="/scripts/cursor.js"></script>
</head>
<body class="font-avenir text-[#F4D7CF] bg-grey">
	<Popup client:load/>
    <div id="cursor"></div>
    <div id="cursor-follower"></div>
	<CookieBanner client:load />
    <slot />
	<BackToTop client:load />
    <script 
	is:inline
	src="https://static.elfsight.com/platform/platform.js" 
	data-use-service-core defer></script>
	<script is:inline defer src="/scripts/cursor.js"></script>
</body>
</html>
