---
import '../styles/global.css';
---

<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link 
	rel="icon" 
	type="image/png" 
	href="/img/logomcs.webp" />
    <meta 
	name="viewport" 
	content="width=device-width" />
    <meta 
	name="generator" 
	content={Astro.generator} />
    <meta 
	name="description" 
	content="Mon Comptoir Secret" />
    <meta 
	name="robots" 
	content="index, follow" />
    <meta 
	property="og:type" 
	content="website" />
    <meta 
	property="og:url" 
	content="https://mon-comptoir-secret.vercel.app/" />
	<meta 
	property="og:image" 
	content="/img/logomcs.webp" />
    <meta 
	property="og:site_name" 
	content="Mon Comptoir Secret" />
    <meta 
	property="og:title" 
	content="Mon Comptoir Secret" />
	<meta 
	property="og:description" 
	content="" />

    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="X-XSS-Protection" content="1; mode=block">
	
    <script 
	is:inline 
	src="https://kit.fontawesome.com/2898a0ac51.js" 
	crossorigin="anonymous"></script>
    <title>Mon Comptoir Secret</title>
    <link 
	rel="stylesheet" 
	href="/scripts/cursor.js">
    <script 
	defer src="/scripts/cursor.js"></script>
</head>
<body class="font-montserrat text-[#F4D7CF] bg-grey">
    <div id="cursor"></div>
    <div id="cursor-follower"></div>
    <slot />
    <script 
	is:inline
	src="https://static.elfsight.com/platform/platform.js" 
	data-use-service-core defer></script>
	<script is:inline defer src="/scripts/cursor.js"></script>
</body>
</html>
